*.log
.DS_Store
.env
.env.backup
.env.production
.env.local
.env.testing
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/.kiro
/auth.json
/node_modules
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/app/public/identity_documents
/storage/debugbar
/vendor
_ide_helper.php
_ide_helper_models.php
Homestead.json
Homestead.yaml
Thumbs.db
*.sqlite
*.sqlite-wal
*.sqlite-shm
/bootstrap/cache/*.php
!/bootstrap/cache/.gitignore
/config/local.php
npm-debug.log
yarn-error.log
